html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.body{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    width: 1440px;
height: 2590px;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0px;
}

img{
    display: block;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header {
background: #FFFFFF;
color: #2E2F42;
}


.header-nav {
    
}
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.web-logo{
    color: #4D5AE5;
}
.header-list {
}

.header-item {
}
.header-ref {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-ref:hover, .header-ref:focus{
    color: #404BBF;
}
.header-contacts {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.contact-list {
    color: #434455; 
}

.contact-list{
    }

.address-tel{
    color: #434455;
}

.address-tel:hover{
    color: #404BBF;
}


.main {
}
.hero-section {
    width: 1440px;
height: 600px;
left: 0px;
top: 72px;
    background-color: #2E2F42;
    
}

.hero-text {
    padding-top: 188px;
    margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section1 {
}
.section1-list {
    
}
.section-item {
}

.section-text {
    margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.section-subtitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section2 {
    background-color: white;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.portfolio-text {
    margin-right: 0;
    margin-bottom: 72px;
    margin-left: 0;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
    

}
.prtfolio-img {
}
.portfolio-list {
}
.portfolio-img {
}
.team {
    background-color: #F4F4FD;
}
.team-text {
}


.list-team {
}
.team-item {
    width: 264px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
margin-bottom: 10px;
}


.team-img {
}

.div-team-text{
    width: 232px;
    padding: 32px 16px;
    text-align: center;
}
.team-desc {
    padding-bottom: 8px;
}
.team-subtext {
}
.filters {
    padding-bottom: 67px;
}

.filter-items {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #F4F4FD;    
}

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
cursor: pointer;
border: none;
}

.filter-btn:hover, .filter-btn:focus{
background-color:  #404BBF;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.row-general {
color: #2E2F42;
font-weight: 500;
}

.row-general:hover{
    color: #404BBF;
}

.row-items {
font-weight: 500;
letter-spacing: 0.02em;
width: 360px;
height: 420px;
border: 1px solid #E7E9FC;
border-top: none;
}


.row-ref{
    color: #2E2F42;
    padding-bottom: 8px;
}

.row-ref:hover, .row-ref:focus{
    color: #404BBF;
}

.row-img{
    width: 360px;
    height: 300px;
}

.row-text-div{
    padding: 32px 0px;
}

.row-text {
    padding-left: 8px;
}

.row-subtext {
font-weight: 400;
color: #434455;
padding-left: 8px;
}

.row-subtext:hover, .row-ref:focus{
    color: #404BBF;
}

.footer {
    width: 1440px;
height: 310px;
left: 0px;
top: 2280px;
    background: #2E2F42;
        }

.footer-div{
    width: 264px;
padding-top: 100px;
}
    
.footer-nav {
}

.footer-ref {
    padding-bottom: 16px;
            font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
        }
    
        .web-footer {
            color: #4D5AE5;
        }
        .footer-text {
        
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
        }

.flexbox-container{
    display: flex;
}